<section class="about-us text-center mt-5">
    <div class="container">
        <h2>About Us</h2>
        <p class="lead">Join us and take the next step toward a brighter future!</p>

        <div class="row justify-content-center mt-5">
            <div class="col-md-4 text-center team-member">
                <img src="imgs/pro (1).jpg" alt="John Doe" />
                <h4><strong>John Doe</strong></h4>
                <p>Founder & CEO</p>
            </div>

            <div class="col-md-4 text-center team-member">
                <img src="imgs/pro (2).jpg" alt="John" />
                <h4><strong>Robert Brown</strong></h4>
                <p>Technical Mentor</p>
            </div>

            <div class="col-md-4 text-center team-member">
                <img src="imgs/pro (3).jpg" alt="Jane Smith" />
                <h4><strong>Jane Smith</strong></h4>
                <p>Lead Instructor</p>
            </div>
        </div>
    </div>
</section>
